html {
}
/* rules that apply to entire page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}*/

#app{
    display: grid;
    grid-template-rows: 100px 400px 400px 35px;
    grid-template-areas: "heading" 
                        "view-entries" 
                        "all-entries" 
                        "footer";
    /*grid-template-columns: 1fr;
/*    grid-auto-rows: minmax(150px, auto);*/
    /* grid-template-columns:  */
/*    height:100vh;*/
    background: #b1faf4;
    color: white; #0e0c02;
    /*justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif; */
}
.headline{
    grid-area: heading;
    /*text-align: center;*/
    color: black; /*rgba(255, 255, 255, 0.959);*/
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
#heading {
/*    align-self: baseline; 
    align-content: center;
    vertical-align: baseline;*/
    
    font-size: 2.75em;
    
    
}
#view-entries {
    grid-area: view-entries;
    display: grid;
    width: 100%;
/*    height: 100%;*/
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "new-entry view-entry";
    
}
h3 {
    margin: 5px;
    font-size: 1.25em;
    color: black;
    text-align: center;
}
#new-entry {
    grid-area: new-entry;
    /*min-width: 80%;*/
    width: 80%;
    max-width: 500px;
    margin-left: 12.5%;
    margin-right: 7.5%;
    background: rgba(57, 73, 107, 0.4);
    border-radius: 5px;
    border: 1px solid grey;
}
.mood-container {
    height: 80%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.myInput {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 90%;
    width: 100%;
    border-radius: 5px;
    resize: none;
    /*text-indent: 0.5em;*/
    padding: 0.5em;
    /*padding-right: 0.5em;*/
}

.entry-details {
    height: auto;
    margin-left: 5%;
    /*text-align: center;*/
    margin-top: 5px;
    margin-bottom: 10px;
    color: black;
    display: grid;
    width: 90%;
    
    grid-template-columns: 65px 1fr 1fr; 
    grid-template-areas: "zip-label zip date";
}
.entry-details label{
    text-align: left;
}
#zip {
    padding: 0.25em;
    grid-area: zip;
    width: 95px;
    max-width: 95px;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
}

#entry-date{
    grid-area: date;
    text-align: center;
}
.button-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
#generate {
    height: auto;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.view-entry {
    grid-area: view-entry;
    /*min-width: 80%;*/
    width: 80%;
    max-width: 500px;
    margin-left: 7.5%;
    margin-right: 12.5%;
    background: rgba(57, 73, 107, 0.4);
    border-radius: 5px;
    border: 1px solid grey;
}
.title{
    text-align: center;
}
#view-title {
    margin-left: 7.5%;
}
#entryHolder{
    height: 85%;
    display: grid;
    grid-template-rows: 8% 6% 30% 6% 50%;
    grid-template-areas: "locale" 
                        "description"
                         "temp-icon"
                         "date"
                         "mood";
}
.meta-details {
    width: 85%;
    margin-left: 7.5%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 1.1em;
    /*margin-top: 5px;*/
    /*background: white;  #b1faf4;*/
}

#weather, #weather-details, #date{
    font-weight: 500;
}
#locale {
    grid-area: locale;
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: 0.15em;
    font-size: 1.35em;
}

#weather {
    grid-area: description;
    text-align: center;
    text-transform: capitalize;
    /*margin-bottom: -12px;*/
}
#weather-info{
    grid-area: temp-icon;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "temp icon";
    margin-bottom: -10px;
}
#temp-details {
    grid-area: temp;
    align-self: center;
    text-align: center;
    /*margin: auto 50%;*/
    font-size: 1.5em;

/*    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;*/
}
#temp{
    margin: auto 0;
    width: auto;
}
.weather-icon {
    grid-area: icon;

    /*
    position: relative;
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;*/
}
#icon {
    margin: auto 0;
    width: auto;
}

#date {
    grid-area: date;
    color: white;
    text-align: center;
}
/*
#date::before {
    content: "Journal Entry for ";
    
}
*/
.mood-holder {
    grid-area: mood;
    display: flex;
    flex-direction: column;
    height: 175px;
    max-height: 175px;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: auto;
    color: white;
/*    background: white;*/
}
.all-entries {
    grid-area: all-entries;
    margin-top: 15px;
}


/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: black; #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 

/*
.entry{
    
}



#date{

}

#temp{

}

#content{

}

.headline {

}


/*  Basic Styling To Override Default For Basic HTML Elements */
/*label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 80px;
    height: 40px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}


textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/